div.TyC{
    text-align:center;
    background-color:rgb(222, 248, 250);
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 1%;
    
}
h4.Tyc{
    margin-left: 4vh;
    margin-right: 4vh ;
}
body{
    background-color: rgb(94, 107, 107);
}
b.la_w{
    font-size: 10vh;

}